*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    background-image: url('../img/portada.jpg');
    background-attachment: fixed;
    background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.form-datos input{
	
}
#spanCorreo{
    color: red;
}
input #cbox1 {
	color: #FFF;
}